dist/
bld/
bin/
obj/
node_modules/
*.swp
*~
*.tgz
*.log
packages/
Backup/
.vscode/
.suo
.vs
*.nupkg
*.user
.nuget/
*.vspscct
/docs/src/asciidoctor/mytest.adoc
App_Data/
debug/
release/
/websites/CarahEvents/CarahEvents/App_Data
*.msi
.idea/
**/application/files/cache
/websites/Concrete5/sharedBlocks/twitter_feed/tweet-php/cache
*.ruleset
*.lnk
.sonarlint/
/websites/CarahAPI/EventQueue.sqlite
/websites/EmailEditor/Logs
TestResults/